extends ../layout

block content

    div.sortable.h-100.w-100(style='background-image: url(/images/kanban.jpg')

        if boards
            each  board, i  in boards
                if (i+1)%5===0 && i!==0

                .d-inline-block.ui-state-default.m-5(style='width: 25rem;' )
                    a(href='/board/display/'+board.board_name).m-3
                        img(src="/images/backgrounds/"+board.image+".jpg",height='180', width='200').imageboards
                        label.titleboard.m-3     #{board.board_name}


        button.btn.btn-primary(type='button', data-toggle='modal', data-target='#addboardModal').m-3.ml-5
            | add board











    // Modal
    #addboardModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')

        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h2.text-center.modal-title Add board
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body.w-100
                    form.offset-md-3(method='post', action='/boards/add').m-1.mt-0
                        .form-group.m-2
                            h3 board name
                            input.form-control(name='name', type='text', placeholder='Enter board name')
                        .form-group.m-2
                            h3 description
                            textarea#comment.form-control(columns="150",rows='5',name='description',placeholder="description")
                        .form-group.m-2
                            .row

                                h3.text-center Users
                            .well.h-auto
                                ul.list-group.checked-list-box
                                    if users
                                        each user ,i in users
                                            .form-group
                                                input.form-check-input.float-right(type='checkbox' class='users'  value=user.username)
                                                label(for='comment') #{user.username}

                                div.float-right
                                    input(type='checkbox' , id="checkAll")
                                    label(for='comment') check all
                        .form-group.boards.mt-5
                            h3 Choose background
                            label
                                input(type='radio' ,value ='ice',name='image')
                                img.mb-1.mr-1(src='/images/backgrounds/ice.jpg' ,width='100',height='70')
                            label
                                input(type='radio' ,value ='gazelle',name='image')
                                img.mb-1.mr-1(src='/images/backgrounds/gazelle.jpg' ,width='100p',height='70')
                            label
                                input(type='radio' ,value ='desert',name='image')
                                img.mb-1.mr-1(src='/images/backgrounds/desert.jpg' ,width='100',height='70')
                            label
                                input(type='radio' ,value ='city',name='image')
                                img.mb-1.mr-1(src='/images/backgrounds/city.jpg' ,width='100p',height='70')
                            label
                                input(type='radio' ,value ='sea',name='image')
                                img.mb-1.mr-1(src='/images/backgrounds/sea.jpg' ,width='100p',height='70')
                            label
                                input(type='radio' ,value ='galaxy',name='image')
                                img.mb-1.mr-1(src='/images/backgrounds/galaxy.jpg' ,width='100p',height='70')

                        button.btn.btn-primary(type='submit', value='Submit') Save changes


                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close





